.infoBox{
	position : relative;

	/* absolute, fixed */

	border : 1px solid black;
	border-radius: 10px;

	margin  : 20px;
	padding : 20px;
	width : 300px;

	vertical-align: top;
	display : inline-block;
}

.closeButton{
	position: absolute;
	top : 10px;
	right : 10px;
	cursor : pointer;
}

.closeButton:hover{
	color : red;
}

/* pixels, percentages, ems */


.date{
	position: absolute;
	bottom : 10px;
	left : 10px;
	font-size: 0.5em;
	font-style: italic;

}






